/* .Tool5sec{
    background-color: #052137;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Tool5head{
    width: 90%;
    height: 70vh;
    background-image: url(../Components/images/password\ manager2.png);
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Tool5head h1{
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
}


.passwordManagerContainer {
    width: 100%;
    height: 85vh;
    background-image: url(../Components/images/enterPass.png);
    background-size: cover;
    background-position: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
.loginBox{
width: 60%;
padding: 80px;
margin: 50px;
background-color: #0A2F4D;
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
}
.loginBox h2{
    color: #fff;
    margin-bottom: 20px;
}
.inputFieldPass{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}
.lgn{
    color: #fff;
    width: 30%;
    padding: 10px 20px;
    background-color: #17578B;
    border: none;
    margin-top: 20px;
}
.verify {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #ff9800;
    color: white;
    cursor: pointer;
}
.backLogin{
    width: 100%;
    height: 85vh;
    background-image: url(../Components/images/enterPass.png);
    background-size: cover;
    background-position: center;
}

.platform-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.platform-btn {
    margin: 5px;
    padding: 10px;
    width: 80%;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.delete { background-color: red; }
.edit { background-color: blue; }
.show { background-color: green; } */


/* body {
    background-color: #1e1e1e;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  } */
  
  .passwordManagerContainer {
    background-color: #052137;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Tool5head{
    width: 90%;
    height: 70vh;
    background-image: url(../Components/images/password\ manager2.png);
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Tool5head h1{
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
}
  .loginPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0A2F4D;
    width: 60%;
    padding:80px ;
    margin: 90px 0px ;
}
.loginPage h2{
  color: #fff;
}
.loginPage input{
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}
.loginPage button{
  background-color: #17578B;
  width: 30% ;
  margin-top: 20px;
  padding: 15px 40px;
  border: none;
  color: #fff;
  font-family: sans-serif;

}
  
  .dashboard {
    text-align: center;
  }
  .twofaPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0A2F4D;
    width: 60%;
    padding:80px ;
    margin: 90px 0px ;
  }
  .twofaPage img{
    width: 70px;
    height: 70px;
  }
 .twofaPage h2{
color: #fff;
 } 
 .twofaPage p{
  color: #fff;
 }
  .twofaPage input{
    width: 40%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
  }
  .twofaPage .conf{
    background-color: #17578B;
    width: 20% ;
    margin-top: 20px;
    padding: 10px 10px;
    border: none;
    color: #fff;
    font-family: sans-serif;
  }
  .twofaPage .back{
    background-color: transparent;
    color: #fff;
    border: none;
    margin-top: 10px;
    border-bottom: 1px solid #fff;
  }
  /* input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
  } */
  
  /* button {
    width: 95%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    background-color: #ff9800;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  } */
  
  /* button:hover {
    background-color: #e68900;
  } */
  
  /* Dashboard styles */
  .dashboardHeader {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .addButton {
    width: 60px;
    height: 60px;
    font-size: 24px;
    line-height: 10px;
    text-align: center;
    border-radius: 50%;
    background-color: #17578B;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  .dashboard{
    margin-bottom: 40px;
    width: 70%;
  }
  .dashboardHeader span{
    color: #fff;
  }
  .add-credential-form {
    background-color: #0A375C;
    padding: 30px;
    width: 90%;
    border-radius: 8px;
    margin-bottom: 15px;
    /* Smooth slide-down animation */
    opacity: 0;
    transform: translateY(-10px);
    animation: slideDown 0.3s forwards;
    display: flex;
    flex-direction: column;
  }
  .add-credential-form input{
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
  }

  .form-buttons{
    width: 90%;
  }
  .form-buttons button{
    width: 50px;
    height: 40px;
    font-size: 24px;
    line-height: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #17578B;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  @keyframes slideDown {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .credentials-list {
    text-align: left;
    background-color: #0A2F4D;
    width: 80%;
  }
  
  .credential-item {
    background-color: #72727240;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .credential-header {
    font-weight: bold;
    cursor: pointer;
  }
  
  .credential-details {
    margin-top: 10px;
    font-size: 14px;
    border-top: 1px solid #555;
    padding-top: 10px;
  }
  
  .detail-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .detail-buttons .detailsButtonsBtn{
    width: 50px;
    flex: 1;
    margin: 0 20px;
    font-size: 14px;
    padding: 5px;
    background-color: #17578B;
color:#fff ;
border:none ;
  }  /* .detail-buttons button {
    flex: 1;
    margin: 0 2px;
    font-size: 14px;
    padding: 5px;
  } */
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .form-buttons button {
    flex: 1;
    margin: 0 5px;
    font-size: 14px;
  }
  
